
  
.h2, h2 {
    opacity:0.8;
  }
  
  .form {
    overflow:scroll;
    margin-bottom:50px;
    margin-top: 110px;
  }
  
  .form-control {
    height:50px;
    margin-bottom:30px;
  }
  
  .h2, h2 {
    margin:50px 0;
    font-weight: bold;
  }
  
  .textarea {
    height:100px;
    resize:none;
  }

  .fondo {
    /* background-color:rgba(211, 211, 211, 0.3); */
    width:45%;
    height: 100% !important;
    position:absolute;
    right: 0px;
  }

  .fondoimg{
    background-color: rgba(211, 211, 211, 0.4);
    background-size: cover;
  }
  

  
  label{
      opacity: 0.7;
      font-size: 110%;

  }

  input:focus, textarea:focus{
    outline: none;
    box-shadow:none !important;
    border:1px solid #4EC5C1 !important;
  }

  button, button:hover{
      background-color: #ec576b;
      border: none;
      padding: 10px 17px;
      border-radius: 50%;
  }


button:active{
    background-color: #ec576b !important;
    border: none;
    padding: 10px 17px;
    border-radius: 50%;
    opacity: 0.6;
   
}

.finalizar, .finalizar:hover, .finalizar:active{
    border-radius: 30px;
}

.ver, .ver:hover, .ver:active{
    border-radius: 30px;
    width: 100%;
    background-color: #4EC5C1 !important;
    border: transparent;
}

.ver:hover {
    opacity: 0.7;
}




.numero, .numero:hover, .numero:active {
    margin-left: 10px;
    width: 34px;
    height: 34px;
    background-color: white !important;
    border: 1px solid #4EC5C1 !important;
    color: #4EC5C1 !important;
    padding: 4px 5px 5px 5px;

}

span{
    margin-left: 10px;
    font-weight: bold;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.4; /* Firefox */
}




.confirm{
    margin-bottom: 150px;
}

.imagen{
    height: 100px;
    width: 100px;
    background-color: lightgrey;
    display: inline-block;
    margin: 10px;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 0.95);
    line-height: 100px;
}

.row{
    margin-bottom: 30px;
}


.diving{
    margin: 10px;
    cursor: pointer;
}

.diving:hover{
    background-color: rgba(238, 119, 119, 0.897);
    border: 1px solid rgba(238, 119, 119, 0.897);
}


.errMessage{
     margin-top: -20px;
    font-size: 13px;
    color: red;
    margin-bottom: 30px;
}

.inputImage {
    background-color: #dd3;
    border-radius: 5px;
    margin:5px;
    width: 500px;
}


.imagen{
    margin-top: 200px;
    width: 50%;
    height: auto;
    margin-left: 22%;
    background: transparent;
}

.hidden{
    display: none;
}

.imgInput{
    /* margin-top: -286px;
    margin-left: -12%;
    width: 400px;
    height: 350px; */
    opacity: 0;
    cursor: copy;
    position: absolute;
    width: 80%;

}

.boton, .boton:hover, .boton:active{
    border-radius: 40px;
    padding: 10px;
    color: white;
    background-color: #ec576b !important;
    border: 0;
}

.boton:hover{
    opacity: 0;
}

.botonCaja, .botonCaja:active, .botonCaja:hover{
    position: absolute;
    border-radius: 40px;
    width: 80%;
    padding: 10px;
    color: #ec576b !important;
    background-color: transparent !important;
    border: 2px solid #ec576b !important;

}


.caja{
    margin-top: 50px;
    width: 80%;
    padding: 10%
}

.submit, .submit:hover, .submit:active{
    background-color: #ec576b !important;
    border: none;
}

.cancel{
    background-color: #4EC5C1 !important;
    border: none;
}