
<div data-bs-parallax-bg="true" class="imagen">
    <div class="degr">
        <div class="highlight-phone">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="intro">
                                <p class="titulo d-none d-md-block">¿Estás listo para emprender un viaje culinario alrededor del mundo?</p>
                                <p class="desc d-none d-sm-inline-block">¡Conecta con apasionados de la cocina de todo el mundo y aprende sus secretos!</p>
                                <a (click) = "mostrarModal('registro')" class="btn btn-primary d-none d-m-inline-block" role="button" >Regístrate</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

