
<div data-bs-parallax-bg="true" class="imagen">
    <div class="degr">
        <div class="highlight-phone">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="intro">
                                <p class="titulo">¿Estás listo para emprender un viaje culinario alrededor del mundo?</p>
                                <p class="desc">¡Conecta con apasionados de la cocina de todo el mundo y aprende sus secretos!</p>
                                <a class="btn btn-primary" role="button" href="#">Regístrate</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

