
<h2>Quién es el Chef</h2><img class="rounded-circle img-fluid center" src="">
  <p id="nombre">{{experiencia?.chef}}</p>
  <p class="descripcion text-left">Datos sobre la Experiencia:</p>
  <p></p>
  <p class="enun text-left">Número Invitados: <span>{{experiencia?.number_invitados}}</span></p>
  <p class="enun text-left">Precio por Invitado: <span>{{experiencia?.invitados}}€</span></p>
  <p class="enun text-left">Disponibilidad: <span>{{experiencia?.fecha}}</span></p><button class="btn btn-primary contacta" type="button">Contacta</button>