<h2>Quién es el Chef</h2>
<img class="rounded-circle img-fluid center" src="{{experiencia?.image}}">
<p id="nombre">{{experiencia?.name}}</p>
<p class="descripcion text-left">Datos sobre la Experiencia:</p>
<p></p>
<p class="enun text-left">Número Invitados:
  <span>{{experiencia?.number_invitados}}</span>
</p>
<p class="enun text-left">Precio por Invitado:
  <span>{{experiencia?.price}}€</span>
</p>
<p class="enun text-left">Disponibilidad:
  <span>{{experiencia?.availability}}</span>
</p>
<button class="btn btn-primary contacta" type="button">Contacta</button>
<button *ngIf="expFavorita === false" (click)="marcarFavorita()" class="btn btn-primary fav" type="button">Márcala como favorita</button>
<button *ngIf="expFavorita === true" (click)="eliminarFavorita()" class="btn btn-primary fav" type="button">Eliminar de favoritos</button>
<!-- <button class="btn btn-primary fav" type="button">Quítala de favoritos</button> -->