<div class="item">
  <a  class="imagen" (click) = "handleClick()" routerLink = '/experiencia/{{experiencia.id_experiencia}}'><img class="img-fluid img" src="{{experiencia.main_image}}"></a>
    <h3 class="cocina">Cocina {{experiencia.food_type}}  <span class="num">  {{experiencia.number_invitados}} <i class="fa fa-user"></i></span></h3>
    <h3 class="name nombre">{{experiencia.title}}</h3>
    <div class="name chef">
          <span  href="#" class="chef"><i class="fas fa-utensils"></i> <span>{{experiencia.name}}</span></span>
  </div>
      <h3 class="datos">{{experiencia.price}}€ por Invitado · <span>{{experiencia.availability}}</span></h3>

</div>
