<div class="item">
  <a routerLink = '/experiencia/{{experiencia.id}}'><img class="img-fluid img" src="{{experiencia.imagenes[0]}}"></a>
    <h3 class="cocina">Cocina {{experiencia.tipo}}  <span class="num">  {{experiencia.invitados}} <i class="fa fa-user"></i></span></h3>
    <h3 class="name nombre">{{experiencia.titulo}}</h3>
    <div class="name chef">
          <a  href="#" class="chef"><i class="fa fa-cutlery"></i> <a>{{experiencia.chef}}</a></a>
  </div>
      <h3 class="datos">{{experiencia.precio}}€ por Invitado · <span>{{experiencia.fecha}}</span></h3>

</div>




<!-- 


<div class="item">
  <a href="detalle"><img class="img-fluid img" src="{{experiencia.imagen}}"></a>
  <div class="row">
    <h3 class="col-8 name nombre">{{experiencia.titulo}}</h3>
    <div class="col-4 name chef">
          <a  class="" href="#" class="chef"><p>{{experiencia.chef}}</p></a>
    </div>
  </div>
  <div class="row">
      <h3 class="col-5 datos">{{experiencia.precio}}€ por Invitado</h3>
      <div class="col-7 datos"><a  class="" href="#" class="chef"><p>{{experiencia.fecha}}</p></a></div>
    </div>
  <p class="description">{{experiencia.descripcion}}</p>
</div> -->