<div class="features-clean" style="overflow: hidden;">
    <div class="container"><strong></strong>
        <div class="intro">
            <h2 class="text-center">Cocineros de todos los rincones del mundo dispuestos a enseñarte los secretos de sus abuelas.</h2>
            <p class="text-center"><strong>bEat</strong> es una aplicación que pone en contacto a personas enamoradas de la cocina con gente que busca descubrir el mundo a través de los sabores.</p>
        </div>
        <div class="row features quienes">
            <div class="col-sm-12 col-lg-4 item"><i class="fa fa-question icon"></i>
                <h3 class="name">¿Cómo funciona?</h3>
                <p class="description">El funcionamiento es muy sencillo. Simplemente hay registrarse como <strong>Chef</strong> o <strong>Invitado</strong> y comenzar a conectar con gente con tus mismas inquietudes.</p>
            </div>
            <div class="col-sm-12 col-lg-4 item"><span class="fa icon">👨🏻‍🍳</span>
                <h3 class="name">Chefs</h3>
                <p class="description">Los <strong>Chef</strong> son las personas encargadas de cocinar, los anfitriones. Son expertos en un plato y te harán descubrir su cultura a través de la boca.</p>
            </div>
            <div class="col-sm-12 col-lg-4 item"><span class="fa icon">👩‍</span>
                <h3 class="name">Invitados</h3>
                <p class="description">Un <strong>Invitado</strong> es una persona curiosa, atrevida. A través de la aplicación se pone en contacto con el <strong>Chef</strong> que más le gusta, y si surge el amor.... ¡A comer!</p>
            </div>
            <!-- <div class="col-sm-6 col-lg-4 item"><i class="fa fa-leaf icon"></i>
                <h3 class="name">Organic</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
            </div>
            <div class="col-sm-6 col-lg-4 item"><i class="fa fa-plane icon"></i>
                <h3 class="name">Fast</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
            </div>
            <div class="col-sm-6 col-lg-4 item"><i class="fa fa-phone icon"></i>
                <h3 class="name">Mobile-first</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
            </div> -->
        </div>
    </div>
</div>