.alert{
    height: 100px;
    width: 60%;
    position: absolute;
    left: 20%;
    z-index: 1;
    line-height: 80px;
    border: 0px;
}

span{
    position: relative;
    left: -120px;
    top: -35px;
    cursor: pointer;
}