<div class="row articles">
    <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid img" src="assets/img/dumplins.jpg"></a>
        <h3 class="name">Gyoza de Pollo y Bambú</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
    </div>
    <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid img" src="assets/img/asian-food-bowl-chopsticks-628776.jpg"></a>
        <h3 class="name">Gyozas de Rata</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
    </div>
    <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid img" src="assets/img/black-background-chinese-food-close-up-724298.jpg"></a>
        <h3 class="name">Judias Verdes con Pollo</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
    </div>
    <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid img" src="assets/img/asian-food-bowl-chopsticks-628776.jpg"></a>
        <h3 class="name">Bambú a la plancha</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
    </div>
    <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid img" src="assets/img/black-background-chinese-food-close-up-724298.jpg"></a>
        <h3 class="name">Sushi de salmón</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
    </div>
    <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid img" src="assets/img/dumplins.jpg"></a>
        <h3 class="name">Sushi de atún</h3>
        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
    </div>
</div>