<div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Explora nuestros sabores</h2>
                <p class="text-center">De Tailandia a Mexico, pasando por Japón y Rumanía. Cocineros de todos los rincones del mundo dispuestos a enseñarte los secretos de sus abuelas</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid img" src="assets/img/dumplins.jpg"></a>
                    <h3 class="name">Gyoza de Pollo y Bambú</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid img" src="assets/img/asian-food-bowl-chopsticks-628776.jpg"></a>
                    <h3 class="name">Gyozas de Rata</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid img" src="assets/img/black-background-chinese-food-close-up-724298.jpg"></a>
                    <h3 class="name">Judias Verdes con Pollo</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid img" src="assets/img/asian-food-bowl-chopsticks-628776.jpg"></a>
                    <h3 class="name">Bambú a la plancha</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid img" src="assets/img/black-background-chinese-food-close-up-724298.jpg"></a>
                    <h3 class="name">Sushi de salmón</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid img" src="assets/img/dumplins.jpg"></a>
                    <h3 class="name">Sushi de atún</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
            </div>
        </div>
    </div>