<div class="block">
  <div *ngIf="estadoExperiencia < 4" class="fondo fondoimg"></div>
  <div *ngIf="estadoExperiencia > 3" class="mapa fondo">
    <agm-map [latitude]="coordenadas?.latitud " [longitude]="coordenadas?.longitud" [zoom]="zoom">
      <agm-marker [latitude]="coordenadas?.latitud" [longitude]="coordenadas?.longitud"></agm-marker>
    </agm-map>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 form">
        <div class="progress" style="height: 2px;">
          <div class="progress-bar" role="progressbar" [ngStyle]="bar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h2 *ngIf="estadoExperiencia === 1">Crea una nueva experiencia</h2>
        <h2 *ngIf="estadoExperiencia === 2">Añade los ingredientes del plato</h2>
        <h2 *ngIf="estadoExperiencia === 3">Acerca de los invitados</h2>
        <h2 *ngIf="estadoExperiencia === 4 || estadoExperiencia === 5">Dirección</h2>
        <h2 *ngIf="estadoExperiencia === 6">¡Añade las imágenes, confirma y listo!</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div *ngIf="estadoExperiencia === 1">
            <label>Introduce el nombre del plato</label>
            <input class=" form-control" formControlName="title" autofocus type="text" placeholder="Pollo al curri con pan bao y verduras crujientes.">
            <div class="errMessage" *ngIf="form.controls.title.errors?.required && form.controls.title.touched && form.controls.title.dirty ">Campo obligatorio</div>
            <div class="errMessage" *ngIf="form.controls.title.errors?.minlength && form.controls.title.touched && form.controls.title.dirty ">Debe contener mínimo 3 caracteres</div>
            <label>Describe el plato a tus futuros invitados</label>
            <textarea class="form-control textarea" formControlName="description" placeholder="Cuéntanos algo sobre la preparación, los ingredientes, la historia, etc."></textarea>
            <div class="errMessage" *ngIf="form.controls.description.errors?.required && form.controls.description.touched && form.controls.description.dirty ">Campo obligatorio</div>
            <div class="errMessage" *ngIf="form.controls.description.errors?.minlength && form.controls.description.dirty ">Debe contener mínimo 60 caracteres</div>
            <label>¿Qué tipo de cocina es?</label>
            <input class="form-control" type="text" formControlName="food_type" placeholder="española, peruana, tailandesa, china, japonesa, francesa, etc.">
            <div class="errMessage" *ngIf="form.controls.food_type.errors?.required && form.controls.food_type.touched && form.controls.food_type.dirty ">Campo obligatorio</div>
            <div class="errMessage" *ngIf="form.controls.food_type.errors?.minlength && form.controls.food_type.touched && form.controls.food_type.dirty ">Debe contener mínimo 3 caracteres</div>

            <input class="form-control" type="hidden" formControlName="chef_id" formControlName="chef_id">

          </div>
          <div *ngIf="estadoExperiencia === 2">
            <label>Añade
              <strong>uno a uno</strong> todos los ingredientes del plato</label>

            <input autofocus class="form-control ing" placeholder="escribe el ingrediente y pulsa añadir" #ingrediente type="text">
            <button (click)="handleAddIngredient(ingrediente.value)" class="btn btn-primary adding" type="button">Añadir</button>
            <div class="listaIng">
              <div *ngFor="let ingrediente of ingredientes, let i = index" (click)="deleteIngrediente(i)" class="diving alert alert-info"
                role="alert">{{ingrediente}}</div>

            </div>

          </div>

          <div *ngIf="estadoExperiencia === 3">
            <div class="cantidad1">
              <label>¿A cuántos invitados quieres acoger?</label>
              <div class="cantidad" role="group">
                <button (click)="handleDisminuirInv()" class="btn btn-primary numero" type="button">-</button>
                <span>{{numInv}}</span>
                <button (click)="handleAumentarInv()" class="btn btn-primary numero" type="button">+</button>
              </div>
            </div>
            <div class="cantidad2">
              <label>¿Quiéres poner un precio por invitado?</label>
              <div class="cantidad" role="group">
                <button (click)="handleDisminuirPrecio()" class="btn btn-primary numero" type="button">-</button>
                <span>{{precioInv}}</span>
                <button (click)="handleAumentarPrecio()" class="btn btn-primary numero" type="button">+</button>
              </div>
            </div>
            <label>¿Qué disponibilidad tienes?</label>
            <input class="form-control" type="text" formControlName="availability" placeholder="tardes, fines de semana, sábados por la noche, etc.">
            <div class="errMessage" *ngIf="form.controls.availability.errors?.required && form.controls.availability.touched && form.controls.availability.dirty ">Campo obligatorio</div>
            <div class="errMessage" *ngIf="form.controls.availability.errors?.minlength && form.controls.availability.touched && form.controls.availability.dirty ">Debe contener mínimo 3 caracteres</div>
          </div>
          <div *ngIf="estadoExperiencia === 4 || estadoExperiencia === 5 ">
            <label>Calle y número</label>
            <input class="form-control" formControlName="calle" placeholder="Gran Vía 13"  type="text">
            <div class="errMessage" *ngIf="form.controls.calle.errors?.required && form.controls.calle.touched && form.controls.calle.dirty ">Campo obligatorio</div>
            <div class="errMessage" *ngIf="form.controls.calle.errors?.minlength && form.controls.calle.touched && form.controls.calle.dirty ">Debe contener mínimo 3 caracteres</div>
            <label>Código postal</label>
            <input class="form-control" formControlName="cp"  placeholder="28020" type="text">
            <div class="errMessage" *ngIf="form.controls.cp.errors?.required && form.controls.cp.touched && form.controls.cp.dirty ">Campo obligatorio</div>
            <div class="errMessage" *ngIf="form.controls.cp.errors?.minlength && form.controls.cp.touched && form.controls.cp.dirty ">El código postal debe contener 5 números</div>
            <label>Ciudad</label>
            <input class="form-control" formControlName="city" placeholder="Madrid" type="text">
            <div class="errMessage" *ngIf="form.controls.city.errors?.required && form.controls.city.touched && form.controls.city.dirty ">Campo obligatorio</div>
            <div class="errMessage" *ngIf="form.controls.city.errors?.minlength && form.controls.city.touched && form.controls.city.dirty ">Debe contener mínimo 3 caracteres</div>
            <label>País</label>
            <input class="form-control" formControlName="pais"  placeholder="España" type="text">
            <div class="errMessage" *ngIf="form.controls.pais.errors?.required && form.controls.pais.touched && form.controls.pais.dirty ">Campo obligatorio</div>
            <div class="errMessage" *ngIf="form.controls.pais.errors?.minlength && form.controls.pais.touched && form.controls.pais.dirty ">Debe contener mínimo 3 caracteres</div>
            <div (click)= "cargarMapa()" *ngIf="estadoExperiencia === 5" class="mb-5 text-center btn btn-primary ver" role="button">
              Ver en el mapa 
            </div>
          </div>
          <div class="row" *ngIf="estadoExperiencia === 6">

            <!-- Imagen a subir -->
            <input type="file" (change)="handleFileChange($event)" name="imagen" formControlName="imagen">
        
              <!-- Imagen a subir -->

          </div>
        </form>
        <div class="botones">
          <button *ngIf="estadoExperiencia > 1" (click)='handleAtras()' class="btn btn-primary" type="button">
            <</button>
              <button *ngIf="estadoExperiencia > 0 && estadoExperiencia < 6" (click)='handleSig()' class="btn btn-primary right" type="button"
                style="float:right;">></button>
              <button *ngIf="estadoExperiencia === 6" class="btn btn-primary right finalizar" type="button" style="float:right" (click)="handleFinish()">Finalizar</button>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>