<div class="block">
  <div *ngIf="estadoExperiencia < 4" class="fondo"></div>
  <div *ngIf="estadoExperiencia > 3" class="mapa fondo">
    <agm-map [latitude]="latitud" [longitude]="longitud" [zoom]="zoom">
      <agm-marker [latitude]="latitud" [longitude]="longitud"></agm-marker>
    </agm-map>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 form">
        <div class="progress" style="height: 2px;">
          <div class="progress-bar" role="progressbar" [ngStyle]="bar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h2 *ngIf="estadoExperiencia === 1">Crea una nueva experiencia</h2>
        <h2 *ngIf="estadoExperiencia === 2">Añade los ingredientes del plato</h2>
        <h2 *ngIf="estadoExperiencia === 3">Acerca de los invitados</h2>
        <h2 *ngIf="estadoExperiencia === 4">Dirección</h2>
        <h2 *ngIf="estadoExperiencia === 5">¡Añade las imágenes, confirma y listo!</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div *ngIf="estadoExperiencia === 1">
            <label>Introduce el nombre del plato</label>
            <input class=" form-control" formControlName="title" autofocus type="text" placeholder="Pollo al curri con pan bao y verduras crujientes.">
            <div class="errMessage" *ngIf="form.controls.title.errors?.required && form.controls.title.touched && form.controls.title.dirty ">Campo obligatorio</div>
            <div class="errMessage" *ngIf="form.controls.title.errors?.minlength && form.controls.title.touched && form.controls.title.dirty ">Debe contener mínimo 3 caracteres</div>
            <label>Describe el plato a tus futuros invitados</label>
            <textarea class="form-control textarea" formControlName="description" placeholder="Cuéntanos algo sobre la preparación, los ingredientes, la historia, etc."></textarea>
            <div class="errMessage" *ngIf="form.controls.description.errors?.required && form.controls.description.touched && form.controls.description.dirty ">Campo obligatorio</div>
            <div class="errMessage" *ngIf="form.controls.description.errors?.minlength && form.controls.description.dirty ">Debe contener mínimo 60 caracteres</div>
            <label>¿Qué tipo de cocina es?</label>
            <input class="form-control" type="text" formControlName="food_type" placeholder="española, peruana, tailandesa, china, japonesa, francesa, etc.">
            <div class="errMessage" *ngIf="form.controls.food_type.errors?.required && form.controls.food_type.touched && form.controls.food_type.dirty ">Campo obligatorio</div>
            <div class="errMessage" *ngIf="form.controls.food_type.errors?.minlength && form.controls.food_type.touched && form.controls.food_type.dirty ">Debe contener mínimo 3 caracteres</div>

            <input class="form-control" type="hidden" formControlName="chef_id" formControlName="chef_id">

          </div>
          <div *ngIf="estadoExperiencia === 2">
            <label>Añade
              <strong>uno a uno</strong> todos los ingredientes del plato</label>

            <input autofocus class="form-control ing" placeholder="escribe el ingrediente y pulsa añadir" #ingrediente type="text">
            <button (click)="handleAddIngredient(ingrediente.value)" class="btn btn-primary adding" type="button">Añadir</button>
            <div class="listaIng">
              <div *ngFor="let ingrediente of ingredientes, let i = index" (click)="deleteIngrediente(i)" class="diving alert alert-info"
                role="alert">{{ingrediente}}</div>

            </div>

          </div>

          <div *ngIf="estadoExperiencia === 3">
            <div class="cantidad1">
              <label>¿A cuántos invitados quieres acoger?</label>
              <div class="cantidad" role="group">
                <button (click)="handleDisminuirInv()" class="btn btn-primary numero" type="button">-</button>
                <span>{{numInv}}</span>
                <button (click)="handleAumentarInv()" class="btn btn-primary numero" type="button">+</button>
              </div>
            </div>
            <div class="cantidad2">
              <label>¿Quiéres poner un precio por invitado?</label>
              <div class="cantidad" role="group">
                <button (click)="handleDisminuirPrecio()" class="btn btn-primary numero" type="button">-</button>
                <span>{{precioInv}}</span>
                <button (click)="handleAumentarPrecio()" class="btn btn-primary numero" type="button">+</button>
              </div>
            </div>
            <label>¿Qué disponibilidad tienes?</label>
            <input class="form-control" type="text" formControlName="availability" placeholder="tardes, fines de semana, sábados por la noche, etc.">
          </div>
          <div *ngIf="estadoExperiencia === 4">
            <label>Calle y piso</label>
            <input class="form-control" type="text">
            <label>código postal</label>
            <input class="form-control" type="text">
            <label>Ciudad</label>
            <input class="form-control" formControlName="city" type="text">
            <label>País</label>
            <input class="form-control" type="text">
          </div>
          <div class="row" *ngIf="estadoExperiencia === 5">
            <image-upload [url]="'http://localhost:3000/api/experiencias/nuevaExperiencia/imagenes'" buttonCaption="+" dropBoxMessage="" [max]="4" [style]="customStyle" (uploadStateChanged)="onUploadStateChanged($event)"></image-upload>

            <!-- Imagen confeti derecha -->


          </div>
        </form>
        <div class="botones">
          <button *ngIf="estadoExperiencia > 1" (click)='handleAtras()' class="btn btn-primary" type="button">
            <</button>
              <button *ngIf="estadoExperiencia > 0 && estadoExperiencia < 5" (click)='handleSig()' class="btn btn-primary right" type="button"
                style="float:right;">></button>
              <button *ngIf="estadoExperiencia === 5" class="btn btn-primary right finalizar" type="button" style="float:right" (click)="handleFinish()">Finalizar</button>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>