agm-map {
    height: 500px;
  }


 .container{
     padding-right: 0;
     margin: 50px auto;
 }

 h2 {
    font-weight:bold;
    margin-bottom:10px;
    padding-top:40px;
    color:inherit;
    font-size: 40px;
  }



@media (max-width:767px) {
  h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:30px;
    max-width:400px;
    margin:0 auto;
  }
}

@media (max-width:575px) {
  h2 {
    font-size:25px;
    max-width:300px;
    
  }
} 