<h2 class="text-center">Experiencias cerca de ti</h2>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="container">
  <agm-map (mouseout)="handleMouseOut()" (click)='handleClick()' [latitude]="latitud" [longitude]="longitud" [zoom]="zoom" [gestureHandling]="habilitarMap">
    <agm-marker class="casa" [latitude]="latitud" [longitude]="longitud"></agm-marker>

    <!-- <agm-marker [latitude]="latitud" [longitude]="longitud"></agm-marker> -->

  </agm-map>
</div>
 
